<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>A câmera é usada para tirar fotos dos seus blocos criativos e compartilhá-los com a comunidade.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>O microfone é necessário para gravar áudios enquanto você constrói e compartilha suas criações.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>A biblioteca de fotos é usada para salvar e compartilhar suas criações.</string>
</dict>
</plist>
